@media all{

	body{
		font-family: Arial;
		font-size: 1em;
		margin: 0;
		padding: 0;
		height: 100%;
		display: flex; /*让nav main footer等竖直排成一列*/
		flex-direction: column;
		margin:0;

	}

	header{
		width: 100%;
		padding-top: 5%;
		color:#fff;
		background-color: #333;
		margin: 0;
	}
	header h1{
		font-size: 2em;
		margin-left: 5%;
	}
	header h6{ /*sub-title*/
		font-family: italic;
		font-weight: normal;
		color: #ccc;
		font-size: .8em;
		margin-left: 5%;

	}


	/*** main begin ***/
	#container{
		margin: 0;
		padding-left: 2%;
		
		display: flex;/*让所有灵活的项目都带有相同的长度，忽略它们的内容*/
		flex-grow: 1;
	
	}
	main{
		
		padding: 3%;
		flex-grow: 2;
		flex-shrink: 2;
		
	}
	main div{
		margin: 0;
		width: 100%;
		
		column-count: 2;
		
	}
	main div section{
		margin:0;
		margin-bottom: 5%;
		width: 90%;
		padding: 1%;
		text-align: left;
	}
	main img{
		width: 100%;
	}

	main img:hover{
		opacity:0.7;
		filter:alpha(opacity=10);
	}
	main h1{
		font-family: "times";
		font-size:2em;
		font-weight:bold;
		margin:0;
	}
	main h6{
		font-size: 0.8em;
		color:#0f84cc;
		margin:0;
	}
	main p{
		font-size: 0.8em;
		color:#aaa;
		margin:0;
	}
	/*aside begin*/

	/*footer begin*/
	footer{
		width: 100%;
		background-color: #222;
		height: 100px;
		color: #fff;
		padding: 0;
		position: relative;
	}
	#goTop{
		width: 80px;
		height: 80px;
		border-radius: 40px;
		background-color: #368abf;
		position: absolute;
		bottom: 60px;
		right:20px;

	}
	#goTop img{
		width: 100%;
		background-size: cover;
	}

}

@media (max-width: 960px){
	aside{
		display: none;
		
	}
	header{
		height:120px;
		position: relative;
	}
	nav{
		display: none;
	}
	#navIcon{
		width: 50px;
		height: 50px;
		position: absolute;
		top:60px;
		right:50px;
		background-color: #368abf;
		border-radius: 25px;

	}
	#navIcon img{
		width: 100%;
		background-size: cover;
	}
	#nav-collapse{
		display: none;

	}
	#nav-collapse a{
		text-decoration: none;
		color: #fff;

	}

	#nav-collapse ul{
		margin:0;
		padding: 0;
		background-color: #368abf;
	}
	#nav-collapse ul li{
		margin: 0;
		padding: 2%;
		text-align:right;
		line-height: 10px;
		border-bottom: solid 1px #4095c9;
		color: #0f84cc;

	}
	#goTop{
		width: 30px;
		height: 30px;
		border-radius: 40px;
		background-color: #368abf;
		position: absolute;
		bottom: 35px;
		right:10px;

	}
}
